<PartCoverSettings>
	<Target>..\TARGET.EXE</Target>
	<TargetWorkDir>..\</TargetWorkDir>
	<TargetArgs>/argument</TargetArgs>
	<LogLevel>0</LogLevel>
	<Output>..\OUTPUT.TXT</Output>
	<ShowHelp>false</ShowHelp>
	<DisableFlattenDomains>false</DisableFlattenDomains>
	<ShowVersion>true</ShowVersion>
	<ErrorsToStdout>true</ErrorsToStdout>
	<Rule>+[ABC]EFG</Rule>
	<Rule>-[ABC]EFG,-[ABD]EFG</Rule>
</PartCoverSettings>